<img class='h-[100%] rounded-md' src="<%=image %>" />
<div class='w-[80%] flex flex-col'>
    <p class='text-3xl font-medium'>
        <%=title %>
    </p>
    <p class='text-lg'>
        <%='' + description?.substring(0,100)+'...' %>
    </p>
</div>